.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 80%;
        color: #000;
    }
}

@media screen and (max-width: 1060px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 814px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .list__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #000;
    }
    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
    }
    .card__content__colors .color {
        width: 20px;
        height: 20px;
    }
}
