.registrAccept__logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  line-height: 80%;
  text-align: center;
  color: #000;
}
.registrAccept__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  border-radius: 24px;
  max-width: 920px;
  height: auto;
  box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2),
    inset -8px -6px 80px 0 rgba(255, 255, 255, 0.18);
  background: linear-gradient(199deg, #ebf2f9 33.53%, #c6d7eb 100%);
}
.registrAccept__content__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #000;
  margin-bottom: 0;
}
.otherloginFromRegistr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.registrAcceptText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000;
  margin: 0;
}
.registrAcceptRestart {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #000;
  margin: 0;
}
.registrAccept__btn {
  border: 1px solid #fff;
  border-radius: 16px;
  width: 177px;
  height: 40px;
  box-shadow: 4px 2px 16px 0 rgba(136, 165, 191, 0.48), -4px -2px 16px 0 #fff;
  background: #e3edf7;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #000;
  border: none;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .registrAccept__content__title {
    display: none;
  }
  .registrAccept__content {
    padding: 0 10px;
  }
  .registrAcceptText,
  .registrAcceptRestart {
    font-size: 10px;
    max-width: 500px;
  }
  .registrAcceptImg {
    display: none;
  }
  .otherloginFromRegistr {
    margin-top: 30px;
  }
  .registrAccept__logo {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #000;
  }
}
