.info {
  padding: 20px 0;
  &__pages {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .toHome {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 300%;
    color: #888;
    text-decoration: none;
  }
  .toCatalog {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 300%;
    color: #888;
    text-decoration: none;
  }
  .toIphonePage {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 300%;
    color: #888;
    text-decoration: none;
  }
  .toIphone14Page {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 300%;
    color: #888;
    text-decoration: none;
  }
}
