.card {
  border-radius: 24px;
  box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2),
    inset -8px -6px 80px 0 rgba(255, 255, 255, 0.18);
  background: linear-gradient(199deg, #ebf2f9 33.53%, #c6d7eb 100%);
  padding: 12px;
  &__content {
    .content__new {
      border: 1px solid #fff;
      border-radius: 5px;
      width: 62px;
      height: 27px;
      background: #ff7300;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #fff;
      text-align: center;
    }
    &__btn {
      border: 1px solid #fff;
      padding: 5px 15px;
      border-radius: 16px;
      box-shadow: 4px 2px 16px 0 rgba(136, 165, 191, 0.48),
        -4px -2px 16px 0 #fff;
      background: #e3edf7;
      margin-top: 15px;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
    }
    &__footer {
      display: flex;
      gap: 10px;
      margin-top: 25px;
    }
    &__colors {
      display: flex;
      gap: 15px;

      .color {
        border-radius: 50%;
        border: none;
        width: 25px;
        height: 25px;
      }
    }
  }
  .card__content__black.active {
    border: 3px solid rgba(255, 115, 0);
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__product {
    &__like {
      max-width: 30px;
      min-width: 30px;
    }
    &__likeImg {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    &__img {
      width: 100%;
      object-fit: cover;
      max-width: 250px;
    }
    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sale__adap {
      display: none;
    }
  }
  &__infos {
    &__prices {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &__sale {
      display: flex;
      align-items: center;
    }
    &__check {
      max-width: 35px;
    }
    &__basket {
      display: none;
      &__img {
        box-shadow: 4px 2px 16px 0 rgba(136, 165, 191, 0.48),
          -4px -2px 16px 0 #fff;
        background: #e3edf7;
        border: 1px solid #fff;
        border-radius: 6px;
        width: 45px;
        height: 36px;
      }
    }
  }
  &__info {
    &__price {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      color: #000;
    }
    &__title {
      margin: 10px 0;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      color: #000;
    }
    &__text {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      line-height: 114%;
      color: #888;
    }
  }
  .second__star {
    display: none;
  }
}
.card__content__black.selected {
  border: 2px solid orange;
}
@media screen and (max-width: 1108px) {
  .content__new {
    width: 32px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #ff7300;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 400px;
    height: auto;
    padding: 10px;
  }
  .card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card__info__text {
    display: none;
  }
  .sale__adap {
    display: block;
    align-items: center;
  }
  .card__content__btn {
    display: none;
  }
  .card__content__basket {
    display: none;
  }
  .card__infos__basket {
    display: block;
  }
  .card__infos__prices {
    gap: 8px;
  }
  .card__infos__basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
  .card .second__star {
    display: block;
  }
  .card__star {
    display: none;
  }
  .card__infos__sale {
    display: none;
  }
}

@media screen and (max-width: 466px) {
  .card__product__image {
    max-width: 120px;
  }
  .card__product__like {
    width: 20px;
  }
  .card__infos__prices {
    flex-direction: row;
    align-items: center;
  }
  .card__content .content__new {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 49px;
    height: 17px;
    box-shadow: -4px -4px 80px 0 rgba(255, 255, 255, 0.18),
      4px 4px 80px 0 rgba(255, 255, 255, 0.18);
    background: #ff7300;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 11px;
    line-height: 218%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card__content__basket__img {
    box-shadow: 4px 2px 16px 0 rgba(136, 165, 191, 0.48), -4px -2px 16px 0 #fff;
    background: #e3edf7;
    border: 1px solid #fff;
    border-radius: 6px;
    width: 20px;
  }
  .card__content__footer {
    margin-top: 8px;
  }
  .card__product__likeImg {
    display: none;
    justify-content: center;
  }
  .card__infos__sale {
    display: none;
  }
}
